body {
    background: linear-gradient(135deg, #000000, #6a0dad, #000000);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 100px;
    background: linear-gradient(135deg, #000000, #6a0dad, #000000);
    box-shadow: 5px 5px 17px 17px rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

input[type="color"] {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    outline: none;
    
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.btn-primary {
    background-color: #6a0dad;
    border-color: #ffffff;
    margin-top: 20px;
    border-width: 2px;
}

.btn-primary:hover {
    background-color: #8e2de2;
    border-color: #4a00e0;
}
